
body {
    width: 480px;
    margin: 0 auto;
}
#header {
    width: 480px;
    height: 80px;
    background-color: blue;
}

h1#header{
    color: yellowgreen;
}


#main {
    width: 300px;
    float: left;
}
#sidebar {
    width: 180px;
    float: right;
}
#footer {
    clear: both;
    width: 480px;
    height: 80px;
    background-color: blue;
}



h2#footer{
    color: yellow;
}


h1 {
    color:black     ;
}