
body {
    width: 480px;
    margin: 0 auto;
}
#header {
    width: 480px;
    height: 80px;
    background-color: blue;
}

#header h1{
    color red;
}


#main {
    width: 300px;
    float: left;
}
#sidebar {
    width: 180px;
    float: right;
}
#footer {
    clear: both;
    width: 480px;
    height: 80px;
    background-color: blue;
}



#footer h1{
    color: white;
}


h1 {
    color:black     ;
}